<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('Recipe list')"></head>

<!-- Attributi : List<Recipe> recipeList -->

<body>
<div class="container">

    <h1 class="text-danger">Recipe List </h1>

    <div th:if="${redirectMessage != null}"
         class="alert alert-success alert-dismissible fade show mt-4"
         role="alert">
        <div th:text="${redirectMessage}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-info" th:if="${recipeList.size() ==0}"> The list is empty</div>

    <table class="table" th:unless="${recipeList.size() ==0}">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Portion</th>
            <th scope="col">Prep time</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="rec: ${recipeList}">
            <td th:text="${rec.title}"></td>
            <td th:text="${rec.portion}"></td>
            <td th:text="|${rec.prepTimeInMinutes} minutes|"></td>
            <td class="d-flex justify-content-between">
                <a class="btn btn-primary" th:href="@{/recipes/show/{id}(id=${rec.id})}" role="button">
                    Details </a>
                <a class="btn btn-primary" th:href="@{/recipes/edit/{id}(id=${rec.id})}" role="button">
                    Edit </a>
                <form
                        th:action="@{/recipes/delete/{id}(id=${rec.id})}"
                        method="post"
                        onsubmit="return confirm('Are you sure?')">
                    <button type="submit" class="btn btn-danger"> Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>


    <a class="btn btn-success" th:href="@{/recipes/create}" role="button">Add recipe</a>


    <hr>
    <a class="btn btn-primary" th:href="@{/categories/list}" role="button">Category list</a>


</div>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>